* {
    box-sizing: border-box !important;
}

html,
body {
    color: $primary !important;
    background-color: $background !important;
    font-family: var(--font-space-grotesk) !important;
    @extend .text-primary;
}

.container {
    @extend .px-4
}

.btn {
    font-family: var(--font-space-grotesk) !important;
    @extend .bg-white;
    @extend .fw-bold;
    @extend .py-3;
    @extend .px-5;
    @extend .rounded-pill;
    @extend .d-inline-block;
}

p {
    @extend .text-secondary;
    @extend .m-0;
}

span {
    @extend .fw-bold;
    @extend .text-primary;

}

img {
    width: 100%;
    border-radius: 8px;
}

html {
    // font-size: clamp(14px, 1.2vw, 18px);
}

p {
    // font-size: 1rem;
    line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900 !important;
}

h1,
.first-name,
.second-name {
    font-size: clamp(6rem, 20vw, 23rem) !important;
    line-height: 18vw !important;
}

h2 {
    font-size: clamp(3.5rem, 8vw, 18rem) !important;
    line-height: 8vw !important;
}

h3 {
    font-size: clamp(2rem, 4vw, 12rem)  !important;
    // line-height: 9vw;
}

h4 {
    font-size: clamp(2rem, 2.4vw, 10rem) !important;
    // line-height: 3vw !important;
}

h5 {
    font-size: clamp(0.8rem, 1.2vw, 10rem) !important;
    // line-height: 2vw !important;
}

h6 {
    font-size: clamp(0.8rem, 1.2vw, 10rem) !important;
    // line-height: 1vw !important;
}

@media only screen and (max-width: 991px) {
    .desktop {
        display: none !important;
    }
}

@media only screen and (min-width: 992px) {
    .mobile {
        display: none !important;
    }

    .container {
        // max-width: 1440px !important;
        // min-width: 720px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    h1,
    .first-name,
    .second-name {
        // font-size: 15rem;
        // line-height: 15rem !important;
    }
}

@media only screen and (min-width: 1200px) {

    h1,
    .first-name,
    .second-name {
        // font-size: 21.67vw !important;
        // line-height: 20rem !important;
    }

    h2 {
        // font-size: 9rem !important;
    }

    h3 {
        // font-size: 5.5rem !important;
    }

    h4 {
        // font-size: 3rem !important;
    }
}